.block
{
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
}
.header1
{
    width: 1920px;
    height: 44px;
    background: #000000;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.tel
{
    position: absolute;
    width: 355px;
    height: 16px;
    left: 421px;
    top: 14px;
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: #969696;
}
.tel2
{
    position: absolute;
    width: 107px;
    height: 16px;
    left: 1399px;
    top: 14px;
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    text-align: right;
    color: #969696;
}
.header2
{
    width: 1920px;
    height: 80px;
    top: 44px;
    background: #0F0F0F;
}
.porten
{
    position: absolute;
    width: 104px;
    height: 49px;
    left: 405px;
    top: 65px;
    font-family: 'Post No Bills Jaffna';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 54px;
    color: #FFFFFF;
}
.likeblock
{
    position: absolute;
    width: 136px;
    height: 80px;
    left: 978px;
    background: #1F1F1F;
}
.like
{
    width: 106px;
    height: 18px;
    position: absolute;
    left: 15px;
    top: 33px;
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
    color: white;
}
.cab
{
    position: absolute;
    width: 136px;
    height: 18px;
    left: 1134px;
    top: 85px;
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
    color: #969696;
    
}
.tools
{
    position: absolute;
    width: 78px;
    height: 18px;
    left: 1300px;
    top: 85px;
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
    color: #969696;
}
.image1
{
    width:18.33px;
    height:12.83px;
    position: absolute;
    left: 84.33%;
    top: 10.5%;
    background: #FFFFFF;
    background: url(Vector\ 1.png);
}
.image2
{
    width:18.33px;
    height:12.83px;
    position: absolute;
    left: 87%;
    top: 10.5%;
    background: #FFFFFF;
    background: url(Vector\ 2.png);
}
.main1
{
    width: 1920px;
    height: 810px;
    top: 124px;
    background: linear-gradient(0deg, rgba(15, 15, 15, 0.5), rgba(15, 15, 15, 0.5)), url(Rectangle\ 3.png);
}
.Porten1
{
    box-sizing: border-box;
    position: absolute;
    width: 320px;
    height: 320px;
    left: 800px;
    top: 268px;
    border: 4px solid #FFFFFF;
}
.Porten2
{
    position: absolute;
    width: 185px;
    height: 86px;
    left: 50px;
    top: 66px;
    font-family: 'Post No Bills Jaffna';
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 96px;
    text-align: center;
    color: #FFFFFF;
    text-decoration-line: underline;
}
.SP
{
    position: absolute;
    width: 300px;
    height: 44px;
    left: 7px;
    top: 160px;
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 23px;
    line-height: 28px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    
}
.lorem
{
    position: absolute;
    width: 730px;
    height: 96px;
    left: 595px;
    top: 668px;
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
}
.togmain
{
    width: auto;
    height: auto;
    display: flex;
    flex-direction: row;
}
.main2
{
    position: absolute;
    width: 1040px;
    height: 730px;
    top: 934px;
    background: #000000;
}
.season
{
    position: absolute;
    width: 376px;
    height: 39px;
    left: 332px;
    top: 75px;
    font-family: 'Playfair Display';
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    text-decoration-line: underline;
}
.watch
{
    width: 820px;
    height: 325px;
    margin-left: 80px;
    padding-top: 40px;
    background-color: black;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.backwatches1
{
    position: absolute;
    width: 260px;
    height: 325px;
    left: 80px;
    top: 200px;
    background: #191B1C;
}
.backwatches2
{
    position: absolute;
    width: 260px;
    height: 325px;
    left: 390px;
    top: 200px;
    background: #191B1C;
}
.backwatches3
{
    position: absolute;
    width: 260px;
    height: 325px;
    left: 700px;
    top: 200px;
    background: #191B1C;
}
.wt1
{
    position: absolute;
    width: 215px;
    height: 214px;
    left: 13px;
    top: 61px;
    background: url(62050\ 1.png);
}
.name
{
    position:absolute;
    background-color: black;
    color: white;
    width: 880px;
    height: 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    top: 560px;
    left: 88px;
}
.b1
{
    width: 260px;
    height: 60px;
    color: white;
}
.name1
{
    width: 140px;
    height: 24px;
    font-family: 'Playfair Display';
    font-size: 18px;
    line-height: 21px;
    color: #FFFFFF;
}

.main3
{
    position: absolute;
    width: 880px;
    height: 730px;
    left: 1040px;
    top: 934px;
    background: linear-gradient(0deg, rgba(15, 15, 15, 0.5), rgba(15, 15, 15, 0.5)), url(Rectangle\ 8.png), #000000;
}
.nexcol
{
    position: absolute;
    width: 376px;
    height: 39px;
    left: 250px;
    top: 480px;
    font-family: 'Playfair Display';
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    text-decoration-line: underline;
}
.cat
{
    position: absolute;
    left: 370px;
    top: 550px;
    width: 130px;
    height: 30px;
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
    text-align: center;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #FFFFFF;
    border: 5px solid #FFFFFF;
}

.colmain
{
    display: flex;
    flex-direction: row;
    width: auto;
    height: auto;
}
.img
{
    position: absolute;
    width: 880px;
    height: 600px;
    top: 1664px;
    background: linear-gradient(0deg, rgba(15, 15, 15, 0.5), rgba(15, 15, 15, 0.5)), url(Rectangle\ 9.png), #000000;
}

.black
{
    position: absolute;
    width: 1040px;
    height: 600px;
    left: 880px;
    top: 1664px;
    background: #000000;
}
.collection
{
    position: absolute;
    width: 376px;
    height: 39px;
    left: 312px;
    top: 74px;
    font-family: 'Playfair Display';
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    text-decoration-line: underline;
}
.text
{
    position: absolute;
    width: 471px;
    height: 173px;
    left: 270px;
    top: 160px;
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 21px;
    text-align: center;
    color: #FFFFFF;
}
.catalog
{
    position: absolute;
    left: 330px;
    top: 460px;
    width: 330px;
    height: 33px;
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
    text-align: center;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #FFFFFF;
    border: 4px solid #FFFFFF;
}
.bigblackblock
{
    position: absolute;
    width: 1920px;
    height: 1289px;
    left: 10px;
    top: 2264px;
    background: #000000;
}
.new
{
    position: absolute;
    width: 440px;
    height: 48px;
    left: 740px;
    top: 84px;
    font-family: 'Playfair Display';
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    text-decoration-line: underline;
}
.backwatches4
{
    position: absolute;
    width: 260px;
    height: 325px;
    left: 405px;
    top: 200px;
    background: #191B1C;
}
.backwatches5
{
    position: absolute;
    width: 260px;
    height: 325px;
    left: 688px;
    top: 200px;
    background: #191B1C;
}
.backwatches6
{
    position: absolute;
    width: 260px;
    height: 325px;
    left: 971px;
    top: 200px;
    background: #191B1C;
}
.backwatches7
{
    position: absolute;
    width: 260px;
    height: 325px;
    left: 1254px;
    top: 200px;
    background: #191B1C;
}
.backwatches8
{
    position: absolute;
    width: 260px;
    height: 325px;
    left: 405px;
    top: 710px;
    background: #191B1C;
}
.backwatches9
{
    position: absolute;
    width: 260px;
    height: 325px;
    left: 688px;
    top: 710px;
    background: #191B1C;
}
.backwatches10
{
    position: absolute;
    width: 260px;
    height: 325px;
    left: 971px;
    top: 710px;
    background: #191B1C;
}
.backwatches11
{
    position: absolute;
    width: 260px;
    height: 325px;
    left: 1254px;
    top: 710px;
    background: #191B1C;
}

.watch2
{
    position: absolute;
    width: 1120px;
    height: 325px;
    top: 540px;
    background-color: black;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.name100
{
    position: absolute;
    left: 60px;
    top: 580px;
    background-color: black;
    color: white;
    width: 1120px;
    height: 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 20%;
}
.name1000
{
    position: absolute;
    left: 60px;
    top: 1080px;
    background-color: black;
    color: white;
    width: 1120px;
    height: 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 20%;
}

.footer1
{
    position: absolute;
    width: 1920px;
    height: 362px;
    top: 3553px;
    background: #0F0F0F;
}
.brend
{
    position: absolute;
    width: 289px;
    height: 48px;
    left: 816px;
    top: 73px;
    font-family: 'Playfair Display';
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    text-decoration-line: underline;
}
.brends
{
    position: absolute;
    width: 1100px;
    left: 20%;
    top:45%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.brends1
{
    width: 255px;
    height: 94px;
    background: url(Rectangle\ 2.png);
}

.footer2
{
    position: absolute;
    top: 3909px;
    width: 1920px;
    height: 400px;
    background: url(Rectangle\ 15.png);
}

.about
{
    width: 1100px;
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 10%;
}
.shop
{
    position: absolute;
    width: 171px;
    height: 32px;
    left: 405px;
    top: 80px;
    font-family: 'Playfair Display';
    font-size: 24px;
    line-height: 28px;
    text-transform: uppercase;
    color: #FFFFFF;
}
.kateg
{
    position: absolute;
    width: 142px;
    height: 32px;
    left: 785px;
    top: 80px;
    font-family: 'Playfair Display';
    font-size: 24px;
    line-height: 28px;
    text-transform: uppercase;
    color: #FFFFFF;
}
.link
{
    position: absolute;
    width: 131px;
    height: 32px;
    left: 1165px;
    top: 80px;
    font-family: 'Playfair Display';
    font-size: 24px;
    line-height: 28px;
    text-transform: uppercase;
    color: #FFFFFF;
}
.texxt1
{
    position: absolute;
    width: 300px;
    height: 147px;
    left: 405px;
    top: 152px;
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 150%;
    color: #FFFFFF;
}
.loremm
{
    position: absolute;
    width: 350px;
    height: 42px;
    left: 1165px;
    top: 152px;
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: #FFFFFF;
}
.something1
{
    height: 20px;
    width: 50px;
    position: absolute;
    left: 786px;
    top: 161px;
    background: #0F0F0F;
    color:white;
}
.something2
{
    height: 20px;
    width: 80px;
    position: absolute;
    left: 850px;
    top: 161px;
    background: #0F0F0F;
    color:white;
}
.something3
{
    height: 20px;
    width: 80px;
    position: absolute;
    left: 945px;
    top: 161px;
    background: #0F0F0F;
    color:white;
}
.something4
{
    height: 20px;
    width: 150px;
    position: absolute;
    left: 786px;
    top: 200px;
    background: #0F0F0F;
    color:white;
}
.something5
{
    height: 20px;
    width: 80px;
    position: absolute;
    left: 950px;
    top: 200px;
    background: #0F0F0F;
    color:white;
}
.email
{
    position: absolute;
    width: 210px;
    height: 41px;
    left: 1165px;
    top: 240px;
    color: white;
    background-color: rgb(178, 177, 177);
}
.subsc
{
    position: absolute;
    width: 140px;
    height: 41px;
    left: 1390px;
    top: 240px;
    background: #0F0F0F;
    color: white;
}
.footer3
{
    position: absolute;
    width: 1920px;
    height: 50px;
    top: 4307px;
    background: #0F0F0F;
}
.prava
{
    position: absolute;
    width: 155px;
    height: 16px;
    left: 405px;
    top: 17px;
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: #D0D0D0;
}
.figma
{
    position: absolute;
    width: 155px;
    height: 16px;
    left: 1360px;
    top: 17px;
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 16px;
    text-align: right;
    text-decoration-line: underline;
    color: #D0D0D0;
}